### ATTENTION ###
# This is the GLOBAL gitignore, please do NOT change this file,
# unless it should be available for everyone
# Please change the LOCAL gitignore (.git/info/exclude) to cutomize
# exluding files/folders from being recognized by git

# Recovery files
*~

# Compiled python
*.pyc

# Common build directory
scripts/configure.sh
scripts/configure.bat
build/*
bin/*
JeyExamples/*

# Compile and install directories
KratosMultiphysics/*
libpython*
libs/*
runkratos
runkratos.exe
script.py

# Times files
*.time

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# GiD post files
*.post.res
*.post.msh
*.post.bin
*.post.lst

# VTK post files
*.vtk
*.vtu

# Output of tests of meshing application (MMG)
*.sol
*.mesh
*.o.sol
*.o.mesh

# Backup files
*.bak

# Most used editor files
*.vscode
JeyExamples/lenova_data/100el_plate.gid/100el_plate.cnd
JeyExamples/lenova_data/100el_plate.gid/100el_plate.geo
JeyExamples/lenova_data/100el_plate.gid/100el_plate.lin
JeyExamples/lenova_data/100el_plate.gid/100el_plate.msh
JeyExamples/lenova_data/100el_plate.gid/100el_plate.png
JeyExamples/lenova_data/100el_plate.gid/100el_plate.spd
JeyExamples/lenova_data/100el_plate.gid/100el_plate.tree
JeyExamples/lenova_data/100el_plate.gid/100el_plate.vv
JeyExamples/TensegrityNode/20191111_Knoten_4_clean.stp
JeyExamples/TensegrityNode/01_analysis/corrected_model.mdpa
JeyExamples/TensegrityNode/01_analysis/MainKratos.py
JeyExamples/TensegrityNode/01_analysis/ProjectParameters.json
JeyExamples/TensegrityNode/01_analysis/StructuralMaterials.json
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.cnd
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.geo
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.lin
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.mdpa
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.msh
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.png
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.prj
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.rdr
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.spd
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.tree
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/corrected_model.vv
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/MainKratos.py
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/ProjectParameters.json
JeyExamples/TensegrityNode/corrected_model.gid/corrected_model.gid/StructuralMaterials.json
